{% set entityName = entityName | default('') %}
{% set modalId = modalId | default('modal'~entityName) %}
{% set btnYesId = btnYesId | default('btnSave'~entityName) %}
{% set btnYesNewId = btnYesNewId | default('btnSaveNew'~entityName) %}
{% set btnNoId = btnNoId | default('btnCancel'~entityName) %}
{% set lblTituloId = lblTituloId | default('lblTitle'~entityName) %}
{% set lblContentId = lblContentId | default('lblContent'~entityName) %}
{% set idHeader = idHeader | default('divHeader'~entityName) %}

{% if formId is defined %} <form id="{{ formId }}" name="{{ formId }}"> {% endif %}
    <div class="modal fade" id="{{ modalId }}" style="{{ style | default('')}}" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-dialog-fromright {{ modal | default('modal-lg') }}">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b block-rounded">
                    <div id="{{ idHeader }}" class="block-header bg-primary">
                        <ul class="block-options">
                            <li>                            
                                <button type="button" onclick="$('#{{ btnNoId }}').click()"><i class="fa fa-2x fa-window-close"></i></button>
                            </li>
                        </ul>
                        {% if titleImage is defined %}<img width="25px" style="float: left;margin-right: 10px;"  src="{{titleImage}}">{% endif %}<h3 style="margin: 3px 0px 0px 4px;" class="block-title" id="{{ lblTituloId }}">{{ titulo | default('') }}</h3>
                    </div>
                    <div class="block-content">
                        <div id="{{ lblContentId }}">{{ content | default('') }}</div>
                        {% if twigTemplate is defined %}
                            {{ include(twigTemplate) }}
                        {% endif %}
                    </div>
                </div>                
                <div class="modal-footer" style="display:{{ hideButtonsFooter | default('false') == 'false' ? 'block' : 'none' }} !important;">
                    {% if includeBtnYesNew | default('') == 'true' %}
                        <div id="btnModalGenericGroupEdit" class="btn-group btn-header-group">
                            <button class="btn btn-sm btn-success" type="{{ isBtnYesSubmit|default("true") == 'true' ? 'submit' : 'button' }}" {% if data_dismiss is not defined %} data-dismiss="modal" {% endif %} id="{{ btnYesId }}" name="{{ btnYesId }}"><i class="fa fa-check"></i> {{ btnYesName | default('Guardar') }}</button>
                            <div class="btn-group dropdown">
                                <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a tabindex="-1" href="javascript:void(0)" id="{{ btnYesNewId }}" name="{{ btnYesNewId }}"><i class="fa fa-pencil push-10-r"></i> {{ btnYesNewName | default('Guardar y nuevo') }}</a>
                                    </li>                            
                                </ul>
                            </div>
                        </div>
                    {% else %}                        
                        <button class="btn btn-sm btn-success" type="{{ isBtnYesSubmit|default("true") == 'true' ? 'submit' : 'button' }}" {% if data_dismiss is not defined %} data-dismiss="modal" {% endif %} id="{{ btnYesId }}" name="{{ btnYesId }}"><i class="fa {{ btnYesIconCSS | default('fa-check') }}"></i> {{ btnYesName | default('Guardar') }}</button>
                    {% endif %}
                    {% if extraButtonId | default('') != '' %}
                        <button class="btn btn-sm btn-info" type="button" {% if data_dismiss is not defined %} data-dismiss="modal" {% endif %} id="{{ extraButtonId  }}" name="{{ extraButtonId }}" >{{ extraButtonName | default('') }}</button>
                    {% endif %}
                    <button class="btn btn-sm {{ btnNoColorCss | default('btn-warning') }}" type="button" {% if data_dismiss is not defined %} data-dismiss="modal" {% endif %} id="{{ btnNoId  }}" name="{{ btnNoId }}" style="{{ btnNoStyle|default("") }}"> <i class="fa {{ btnNoIconCSS | default('fa-check') }}"></i> {{ btnNoName | default('Cancelar') }}</button>
                </div>                
            </div>
        </div>
    </div>
    {% if formId is defined %} </form> {% endif %}
