<div id="{{ modalId }}" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="{{ idHeader }}" class="modal-header">
                <button type="button" onclick="$('#{{ btnNoId | default('') }}').click()" class="close" >&times;</button>                
                <h3 class="modal-title" id="{{ lblTituloId }}">{{ titulo }}</h3>
            </div>
            <div class="modal-body">
                <div id="{{ lblContentId }}">{{ content }}</div>
                {% if twigTemplate is defined %}
                    {{ include(twigTemplate) }}
                {% endif %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-effect-ripple btn-info" type="{{ isBtnYesSubmit|default("") == 'true' ? 'submit' : 'button' }}" {% if data_dismiss is not defined %} data-dismiss="modal" {% endif %} id="{{ btnYesId }}" name="{{ btnYesId }}"><i class="fa fa-check"></i> {{ btnYesName }}</button>
                <button class="btn btn-effect-ripple btn-danger" type="button" {% if data_dismiss is not defined %} data-dismiss="modal" {% endif %} id="{{ btnNoId }}" name="{{ btnNoId }}" >{{ btnNoName }}</button>                        
            </div>
        </div>
    </div>
</div>