{# This input has a group html of two inputs, one for quantity data like a price and one for a discount type. #}
<div class="form-group errorGroup" style="width:70%; float:left;" >
    <label for="{{ fieldDiscount }}">{{ title }}</label>
    <input class="form-control" type="text" id="{{ fieldDiscount }}" name="{{ fieldDiscount }}" placeholder="{{ placeHolder }}">
</div>
<div class="form-group errorGroup" style="width:30%; float:left">
    <label for="{{ fieldDiscountType }}">&nbsp;</label>
    <select class="form-control" id="{{ fieldDiscountType }}" name="{{ fieldDiscountType }}">
        {% for item in discountType | default([{"name" : "%", "value" : "%"}, {"name" : "$", "value" : "$"}]) %}
            <option value="{{ item.value }}" {{ value|default("") == item.value ? "selected" : "" }}>{{ item.name }}</option>     
        {% endfor %}
    </select>    
</div>