<html>
    <head>
        <title>Notificaci&oacute;n</title>
        <meta charset="UTF-8">
    </head>
    <body style="font: 14px 'Open Sans', sans-serif; font-weight: normal; line-height: 23px;">
        {{ message | raw }}
        <br /><br />
        Si has recibido por error este correo te pedimos que lo borres inmediatamente, gracias.<br />        
        <br /><br />
    </body>
</html>