{% set address =  address | default([]) %}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'streetName', 'title' : 'Calle', 'placeHolder' : 'Ingresa el nombre de tu calle..', 'value' : address.streetName | default(""), 'tipo': 'A' }) }}
    </div>        
    <div class="col-sm-6 col-lg-3">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'numExt', 'title' : 'Número exterior', 'placeHolder' : 'Ingresa el no. exterior..', 'value' : address.numExt | default(""), 'tipo' : 'B' }) }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'numInt', 'title' : 'Número interior', 'placeHolder' : 'Ingresa el no. interior..', 'value' : address.numInt | default(""), 'tipo' : 'B' }) }}
    </div>
    <div class="col-sm-6 col-lg-3">    
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'neighborhood', 'title' : 'Colonia', 'placeHolder' : 'Ingresa el nombre de tu colonia..', 'value' : address.neighborhood | default(""), 'tipo': 'C' }) }}
    </div>
</div>
<div class="row">              
    <div class="col-sm-6 col-lg-3">    
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'postalCode', 'title' : 'Código postal', 'placeHolder' : 'Ingresa el código postal..', 'value' : address.postalCode | default(""), 'tipo': 'C' }) }}
    </div>    
    <div class="col-sm-6 col-lg-3">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig',     
                                            { 'field': 'city', 'title' : 'Ciudad', 'placeHolder' : 'Ingresa tu ciudad..', 'value' : address.city | default(""), 'tipo' : 'C' }) }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'state', 'title' : 'Estado', 'placeHolder' : 'Ingresa tu estado..', 'value' : address.state | default(""), 'tipo' : 'C' }) }}
    </div>
    <div class="col-sm-6 col-lg-3">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'country', 'title' : 'País', 'placeHolder' : 'Ingresa el nombre de tu país..', 'value' : address.country | default("") }) }}
    </div>
</div>    