{# Template para datos de detalle de nombre de usuario y pwd#}
{% if cols | default('2') == '2' %}
    {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
    { 'field': 'username', 'title' : lblUserName|default('Nombre de usuario'), 'placeHolder' : lblUserNamePlaceHolder|default('Ingresa el nombre de usuario...'), 'value' :  '' , 'classIcon' : 'fa fa-user'  }) }}
    <div class="row">
        <div class="col-sm-6" >
            {{ include('JumpersoftBaseBundle::htmlInput/genericPassword.html.twig', 
            { 'field': 'password', 'title' : 'Contraseña', 'placeHolder' : 'Ingresa tu contraseña..', 'classIcon' : 'fa fa-asterisk'  }) }}
        </div>
        <div class="col-sm-6" >
            {{ include('JumpersoftBaseBundle::htmlInput/genericPassword.html.twig', 
            { 'field': 'confirmPassword', 'title' : 'Confirma tu contraseña', 'placeHolder' : 'Vuelve a ingresar tu contraseña..', 'classIcon' : 'fa fa-asterisk'  }) }}
        </div>
    </div>
{% else %} {#tree-two-one columns#}    
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                { 'field': 'username', 'title' : lblUserName|default('Nombre de usuario'), 'placeHolder' : lblUserNamePlaceHolder|default('Ingresa el nombre de usuario...'), 'value' :  '' , 'classIcon' : 'fa fa-user'  }) }}
        </div>        
        <div class="col-sm-6 col-lg-3">
            {{ include('JumpersoftBaseBundle::htmlInput/genericPassword.html.twig', 
                { 'field': 'password', 'title' : 'Contraseña', 'placeHolder' : 'Ingresa tu contraseña..', 'classIcon' : 'fa fa-asterisk'  }) }}
        </div>
        <div class="col-sm-6 col-lg-3">
            {{ include('JumpersoftBaseBundle::htmlInput/genericPassword.html.twig', 
                { 'field': 'confirmPassword', 'title' : 'Confirma tu contraseña', 'placeHolder' : 'Vuelve a ingresar tu contraseña..', 'classIcon' : 'fa fa-asterisk'  }) }}
        </div>
    </div>
{% endif%}
