{# Template para datos de datos fiscales del usuario #}
{{ include('JumpersoftBaseBundle::htmlInput/genericSwitch.html.twig', 
                                            { 'field': 'foreigner', 'title' : 'Soy un usuario extranjero', 'checked' : fiscalData.foreigner | default("") }) }}

<div class="row">
    <div class="col-sm-6 col-lg-4">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'rfc', 'title' : 'RFC', 'placeHolder' : 'Ingresa el RFC..', 'value' : fiscalData.rfc | default("XAXX010101000")  }) }}
    </div>
    <div class="col-sm-6 col-lg-4">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'name', 'title' : 'Nombre o Razon Social', 'placeHolder' : 'Ingresa tu nombre o razón social..', 'value' : fiscalData.name | default("") }) }}
    </div>
    <div class="col-sm-12 col-lg-4">
        {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'tradeName', 'title' : 'Nombre comercial', 'placeHolder' : 'Ingresa el nombre de tu empresa..', 'value' : fiscalData.tradeName | default("") }) }}
    </div>
</div>
{{ include('JumpersoftBaseBundle::htmlInput/genericSwitch.html.twig', 
                                            { 'field': 'sameFiscalAddressAsContactAddress', 'title' : 'Usar misma dirección que mis datos de contacto para facturación', 'checked' : fiscalData.sameFiscalAddressAsContactAddress | default("") }) }}    

{{ include('JumpersoftBaseBundle::user/address.html.twig', { address : fiscalData }) }}

{{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'emailToSendInvoice', 'title' : 'Corre electrónico de facturación ', 'placeHolder' : 'Ingresa un correo para enviarte tus facturas..', 'value' : fiscalData.emailToSendInvoice | default("") , 'classIcon' : 'fa fa-envelope-o' }) }}
