{# Template para datos de detalle usuario  #}
<div class="well well-sm">
    <h4><i class="fa fa-fw fa-user pull-right"></i>Datos generales:</h4>
    <div class="row">            
        <div class="col-sm-6 col-lg-4">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'name', 'title' : 'Nombre', 'placeHolder' : 'Ingresa el nombre..', 'value' :  userDetail.name | default(""), 'classIcon' : 'fa fa-user'  }) }}
        </div>
        <div class="col-sm-6 col-lg-4">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'lastName', 'title' : 'Apellido paterno', 'placeHolder' : 'Ingresa el apellido paterno..', 'value' : userDetail.lastName | default(""), 'tipo' : 'C' }) }}
        </div>            
        <div class="col-sm-6 col-lg-4">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'mothersLastName', 'title' : 'Apellido materno', 'placeHolder' : 'Ingresa el apellido materno..', 'value' : userDetail.mothersLastName | default(""), 'tipo' : 'C' }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'email', 'title' : 'Correo electrónico', 'placeHolder' : 'Ingresa un correo electrónico..', 'value' : email | default(""), 'classIcon' : 'fa fa-envelope-o' }) }}
        </div>
        <div class="col-sm-6 col-lg-3">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'confirmEmail', 'title' : 'Confirmar correo', 'placeHolder' : 'Confirma el correo electrónico..', 'value' : confirmEmail | default(""), 'classIcon' : 'fa fa-envelope-o' }) }}
        </div>
        <div class="col-sm-6 col-lg-3">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'phone', 'title' : 'Número telefónico', 'placeHolder' : '(55) 24591389', 'value' : userDetail.phone | default(""), 'classIcon' : 'fa fa-phone' }) }}
        </div>
        <div class="col-sm-6 col-lg-3">
            {{ include('JumpersoftBaseBundle::htmlInput/genericText.html.twig', 
                                            { 'field': 'mobile', 'title' : 'Número movil', 'placeHolder' : '(55) 34822190', 'value' : userDetail.mobile | default(""), 'classIcon' : 'fa fa-mobile' }) }}
        </div>            
    </div>
</div>
{% if showExtraDetail | default("true") == "true" %}       
    <div class="well well-sm">            
        <h4><i class="fa fa-fw fa-home pull-right"></i>Dirección:</h4>
        {{ include('JumpersoftBaseBundle::user/address.html.twig', { address : userDetail }) }}            
    </div>
    {% if showRoles | default(false) == true %}
        {{ include('JumpersoftBaseBundle::htmlInput/genericSelect2.html.twig',                                             
                            { 'field': 'roles', 'title' : 'Rol', 'placeHolder' : 'Elija el rol del usuario..', 'items' : roles, 'multiple' : 'false' }) }}
    {% endif %}
{% endif %}