{% extends '@baseViews/error/masterError.html.twig' %}
{% block title %}{{ parent() }}{% endblock %}
{% block stylesheets %}    
    {{ parent() }}    
{% endblock %} 
{% block body %}
    {{ parent() }}   
    <!-- END Error Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- Error Titles -->
                <h1 class="">{{ code }}</h1>                
                <!-- END Error Titles -->                
            </div>
            <div class="col">
                <p class="" style="word-wrap: break-word;">{{ msg ? "Message: " ~ msg : "" }}</p>
                <p class="" style="word-wrap: break-word;">{{ detail ? "Detail: " ~ detail : "" }}</p>
                {% if debug == true %}
                    <p class="" style="word-wrap: break-word;">{{ exception ? "Exception type: " ~ exception : ""  }}</p>
                    <p class="" style="word-wrap: break-word;">{{ file ? "File: " ~ file : "" }}</p>
                    <p class="" style="word-wrap: break-word;">{{ line ? "Linea: " ~ line : "" }}</p>
                    <p class="" style="word-wrap: break-word;">{{ trace ? "Trace: " ~ trace: "" }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- END Error Content -->

    <!-- Error Footer -->
    <div class="text-center content pulldown text-muted">        
        <a class="link-effect" href="/">Regresar a la página de inicio</a>
    </div>
    <!-- END Error Footer -->  
{% endblock %}
{% block javascripts %}
    {{ parent() }}    
{% endblock %}
