<div class="row">
    <div class="col-lg-7" id="actions">
        <!-- The fileinput-button span is used to style the file input field as button -->        
        <button id="{{ btnAddFilesId | default('') }}" class="btn btn-sm btn-success push-5-r push-10 fileinput-button dz-clickable" type="button"><i class="glyphicon glyphicon-plus"></i> Seleccionar archivos...</button>        
        <button id="{{ btnUploadId | default('') }}" class="btn btn-sm btn-primary push-5-r push-10 start" type="button"><i class="glyphicon glyphicon-upload"></i> Subir archivos</button>
        <button id="{{ btnCancelUploadId | default('') }}" class="btn btn-sm btn-warning push-5-r push-10 cancel" type="button"><i class="glyphicon glyphicon-ban-circle"></i> Cancelar subida</button>
    </div>    
    <div class="col-lg-5">
        <!-- The global file processing state -->
        <span class="fileupload-process">
            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width: 100%;" data-dz-uploadprogress=""></div>
            </div>
        </span>
    </div>
</div>    
<div class="row">
    <div class="col-xs-12 push-20">
    </div>
    <div class="col-xs-12">
        <div id="previews" class="table table-striped" class="files" >
            <div id="template" class="file-row">
                <!-- This is used as the file preview template -->
                <div>
                    <span class="preview"><img data-dz-thumbnail /></span>
                </div>
                <div>
                    <p class="name" data-dz-name></p>
                    <strong class="error text-danger" data-dz-errormessage></strong>
                </div>
                <div style="width:30%;">
                    <p class="size" data-dz-size></p>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                        <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                    </div>
                </div>
                <div style="width: 220px">
                    <button class="btn btn-sm btn-primary push-5-r push-10 start" type="button"><i class="glyphicon glyphicon-upload"></i> Iniciar</button>                    
                    <button data-dz-remove class="btn btn-sm btn-warning push-5-r push-10 cancel" type="button"><i class="glyphicon glyphicon-ban-circle"></i> Cancelar</button>                    
                    <button data-dz-remove class="btn btn-sm btn-danger push-5-r push-10 delete" type="button"><i class="glyphicon glyphicon-trash"></i> Borrar</button>                    
                </div>
            </div>
        </div>
    </div>    
</div>