<div class="form-group errorGroup">
    {# Init vars #}    
    {% set input = input | default('text') %}
    {% set autocomplete = autocomplete is defined ? 'autocomplete='~autocomplete %}
    {% set hasClear = hasClear | default(false) %}
    {% set placeHolder = placeHolder | default('') %}
    {% set value = value | default('') %}
    {% set formType = formType | default("") %}
    {% set cssHFormLabel = formType == "horizontal" ? "col-md-3 control-label" : ""  %}
    {% set cssHFormCtrl = title is defined and formType == "horizontal" ? "col-md-7" : ""  %}
    {% set subLabel = subLabel is defined ? "<small class='lblSmall'>" ~ subLabel ~ "</small>" : "" %}
    {% set label = title ? "<label for='"~ field ~"' id='lbl"~ field ~"' class='" ~ cssHFormLabel ~ "'>"~ title ~ " "~ subLabel ~ "</label>" : "" %}
    {# End Init vars #}
    {% if classIcon is defined %} {# 1. Has an icon next to input and optional a clear button #}
        {% if hasClear %} {# 1.1 With clear button inside #}
            {{ label|raw }}
            <div class="{{ cssHFormCtrl }}">
                <div class="input-group">
                    <div class="has-feedback has-clear">
                        <input class="form-control" type="{{input}}" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder  }}" value="{{ value }}" {{autocomplete}}>
                        <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                    </div>
                    <span class="input-group-addon"><i class="{{ classIcon }}"></i></span>                
                </div>            
            </div>            
        {%else%} {# 1.2 Only Icon #}
            {{ label|raw }}
            <div class="{{ cssHFormCtrl }}">
                <div class="input-group">
                    <input class="form-control" type="{{input}}" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder  }}" value="{{ value }}" {{autocomplete}}>
                    <span class="input-group-addon"><i class="{{ classIcon }}"></i></span>
                </div>
            </div>
        {% endif %}
    {%else%} {# 2. Has optional a clear button #}
        {% if hasClear %}            
            {{ label|raw }}
            <div class="has-feedback has-clear {{ cssHFormCtrl }}">
                <input class="form-control" type="{{input}}" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder  }}" value="{{ value }}" {{autocomplete}}>
                <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
            </div>
        {% else %}
            {{ label|raw }}
            <div class="{{ cssHFormCtrl }}">
                <input class="form-control" type="{{input}}" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value }}" {{autocomplete}}>
            </div>
        {% endif %}
    {% endif %}
</div>
