<div class="{{ avoidFormGroup|default("false") == "false" ? "form-group" : "" }} errorGroup">
    {% if title != '' %}
        <label for="{{ field }}" class="{{ formType |default("") == "horizontal" ? "col-md-3 control-label" : "" }}">{{ title }}</label>
    {% endif %}
    <div class="{{ formType |default("") == "horizontal" ? "col-md-7" : "" }}">
        <select class="form-control" id="{{ field }}" name="{{ field }}">
            {% if placeHolder|default('') != '' %} <option value="">{{ placeHolder }}</option> {% endif %}
            {% for item in items %}                
		<option value="{{ attribute(item, itemNameValueField | default("value")) }}" {{ value|default('') == attribute(item, itemNameValueField | default("value")) ? 'selected' : '' }} >{{ attribute(item, itemNameField | default("name")) }}</option>
            {% endfor %}
        </select>
    </div>
</div>
