<div class="form-group errorGroup">
    {% if classIcon is defined %}                
        {% if title %}
            <label class="col-xs-12" for="{{ field }}" id="lbl{{ field }}">{{ title }}</label>
        {% endif %}
        <div class="input-group col-xs-12">
            <input class="form-control" type="file" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value | default("") }}" multiple>
            <span class="input-group-addon"><i class="{{ classIcon }}"></i></span>
        </div>        
    {%else%} 
        {% if title %}
            <label class="col-xs-12" for="{{ field }}" id="lbl{{ field }}">{{ title }}</label>
        {% endif %}
        <div class="col-xs-12">
            <input class="form-control" type="file" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value | default("") }}" multiple>
        </div>
    {% endif %}
</div>
