{% if inputStyle | default("normal") == "normal" %}
    <div class="form-group errorGroup">
        <label class="css-input switch switch-success">
            {#El input hidden es un truco ya que el contro type=checkbox no se serializa cuando está apagado, bug del serializados??#}
            <input type="hidden" name="{{ field }}"/>
            <input id="{{ field }}" name="{{ field }}" type="checkbox" {{ checked == 1 ? 'checked' : '' }}><span></span> {{ title }}
        </label>
    </div>
{% elseif tipo == 'appUI' %}                     
    <div class="form-group">        
        <label class="css-input switch switch-success">
            {#El input hidden es un truco ya que el contro type=checkbox no se serializa cuando está apagado, bug del serializados??#}
            <input type="hidden" name="{{ field }}"/>
            <input id="{{ field }}" name="{{ field }}" type="checkbox" {{ checked == 1 ? 'checked' : '' }}><span></span><label style="vertical-align: text-bottom;">&nbsp;&nbsp;{{ title }}</label>
        </label>            
    </div>
{% endif %}