<div class="form-group errorGroup">
    {% if title %}<label class="control-label" for="{{ field }}">{{ title }}</label>{% endif %}
    <select class="js-select2 form-control" id="{{ field }}" name="{{ field }}" style="width: 100%;" {% if placeHolder is defined %} data-placeholder="{{ placeHolder }}" {% endif %} {{ multiple|default("") == "true" ? "multiple" : "" }} remoteStore="{{ remoteStore|default("") == "true" ? "true" : "false" }}">
        {% if multiple|default("") != "true" %} 
            <option></option> {#<- Este tag se agrega solo cuando el control no es para seleccion multiple, con esto se verá correctamente el placeholder cuando el control sea de tipo search. #}
        {% endif %}
        {% for item in items %}
            <option value="{{ item.value }}">{{ item.name }}</option>     
        {% endfor %}
    </select>        
</div>