<div class="form-group errorGroup">    
    {% if title %}<label for="{{ field }}" id="lbl{{ field }}" class="{{ formType |default("") == "horizontal" ? "col-md-3 control-label" : "" }}">{{ title }}</label>{% endif %}
    <div class="{{ title is defined and formType |default("") == "horizontal" ? "col-md-7" : "" }}">
        <textarea class="form-control" id="{{ field }}" name="{{ field }}" rows="{{ rows |default('3') }}" placeholder="{{ placeHolder }}" value="{{ value | default('') }}"></textarea>    
    </div>
</div>