<div class="form-group errorGroup">        
    {% if classIcon is defined %} {# Has an icon next to input #}            
        {% if hasClear | default(false) == true %} {# Has a clear button inside #}
            {% if title %}<label for="{{ field }}" id="lbl{{ field }}">{{ title }}</label>{% endif %}
            <div class="input-group">                                
                <div class="form-group has-feedback has-clear">
                    <input class="form-control" type="password" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value | default("") }}">
                    <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
                </div>
                <span class="input-group-addon"><i class="{{ classIcon }}"></i></span>
            </div>
        {%else%}
            {% if title %}<label for="{{ field }}" id="lbl{{ field }}">{{ title }}</label>{% endif %}
            <div class="input-group">                                                    
                <input class="form-control" type="password" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value | default("") }}">                        
                <span class="input-group-addon"><i class="{{ classIcon }}"></i></span>
            </div>
        {% endif %}
    {%else%}            
        {% if title %}<label for="{{ field }}" id="lbl{{ field }}">{{ title }}</label>{% endif %}
        <input class="form-control" type="password" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value | default("") }}">
    {% endif %}
</div>
