<div class="form-group errorGroup">
    {% if title %}<label for="{{ field }}">{{ title }}</label>{% endif %}
    <div class="js-datetimepicker input-group date">
        <input class="form-control" type="text" id="{{ field }}" name="{{ field }}" placeholder="{{ placeHolder }}" value="{{ value | default('') }}">
        <span class="input-group-addon">
            <span class="{{ classIcon | default('fa fa-calendar') }}"></span>
        </span>
    </div>
</div>