<div class="form-group errorGroup">
    {% set formType = formType | default("") %}
    {% set cssHFormLabel = formType == "horizontal" ? "col-md-3 control-label" : ""  %}
    {% set cssHFormCtrl = title is defined and formType == "horizontal" ? "col-md-7" : ""  %}
    {% set subLabel = subLabel is defined ? "<small class='lblSmall'>" ~ subLabel ~ "</small>" : "" %}
    {% set label = title ? "<label for='"~ field ~"' id='lbl"~ field ~"' class='" ~ cssHFormLabel ~ "'>"~ title ~ " "~ subLabel ~ "</label>" : "" %}    
    {{ label|raw }}
    <div class="{{ cssHFormCtrl }}">
        <textarea class="js-summernote-air" id="{{ field }}" name="{{ field }}"></textarea>
    </div>
</div>
