<div class="form-group errorGroup">
    <div class="form-material form-material-primary">
        {% for item in radioButtonItems %}
            <label class="css-input css-radio css-radio-lg css-radio-primary push-10">
                <input type="radio" name="{{ groupName }}" value="{{ item.value }}" {{ loop.index == 0 ? 'checked' : '' }}><span></span> {{ item.text }}
            </label>
        {% endfor %}
    </div>
</div>