<div class="form-group errorGroup">
    {% if (title is defined) and (title != '') %}
        <label for="{{ field }}" id="lbl{{ field }}" class="{{ formType |default("") == "horizontal" ? "col-md-3 control-label" : "" }}">{{ title | default('') }}</label>
    {% endif %}
    <div class="{{ title is defined and formType |default("") == "horizontal" ? "col-md-7" : "" }}">
        <label class="css-input css-checkbox css-checkbox-primary" for="{{ field }}">
            <input type="checkbox" id="{{ field }}" name="{{ field }}" value="{{ checked | default('') }}" ><span></span> {{ title2 | default('') | raw }}
        </label>
    </div>    
</div>