<div class="form-group errorGroup">
    <div class="input-group">
        {% if title %}<label for="{{ field1 }}" id="lbl{{ field1 }}">{{ title }}</label>{% endif %}
        <div class="form-group has-feedback has-clear">
            <input class="form-control" type="text" id="{{ field1 }}" name="{{ field1 }}" placeholder="{{ placeHolder1 }}" value="{{ value1 }}">
            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
        </div>
        <span class="input-group-addon"><i class="fa {{ classIcon | default("fa-question") }}"></i></span>
        <div class="form-group has-feedback has-clear">
            <input class="form-control" type="text" id="{{ field2 }}" name="{{ field2 }}" placeholder="{{ placeHolder2 }}" value="{{ value2 }}">
            <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback hidden"></span>
        </div>
    </div>
</div>